*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Header */
.header{
    height: auto;
    background-color: #FF0000;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.2);
    box-shadow: 0 3px 6px rgba(0,0,0,.2);
}


.headertekst{
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    
}

/* Hints over */
.hintsover{
    margin-top: 5vh;
    margin-left: 8vw;
}

.hintsovertekst{
    font-size: 45px;
    margin-top: -60px;
    margin-left: 60px;
}

/* Start instructies */

.startinstruscties{
    text-align: center;
}

.volginstructies{
    font-size: 18px;
    margin-top: 8vh;
    font-weight: bold;
}

.begin{
    width: 250px;
    height: 70px;
    border: none;
    color: white;
    background-color: #FF0000;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 5vh;
    transition: .6s;
}

.succeszoeken{
    font-size: 30px;
    font-weight: bold;
    margin-top: 5vh;
}

/* Footer */
footer > img{
    margin-left: 90px;
    margin-top: 3vh;
}

/* Button animatie */
button:active{
    transform: scale(1.1);
    font-size: 27px;
}

#mail-input, #password-input{
    width: 80vw;
    height: 5vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border: none;
    background-color: #efefef;
    border-radius: 10px;
}

.login-form, .registreren-form{
    margin-left: 10vw;
    margin-top: 3vh;
}

::placeholder{
    padding-left: 5vw!important;
    font-size: 18px;
}

.registreer-p{
    text-align: center;
}

.login-submit{
    width: 80vw;
    background-color: #FF0000;
    height: 5vh;
    margin-top: 4vh;
    margin-bottom: 2.5vh;
    border: none;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .7s;
}

.loginfooter{
    margin-top: 15vh;
}

.login-submit:active{
    transform: scale(1.1);
}

.teruginloggen{
    background-color: #FF0000;
    width: 50vw;
    margin-left: 25vw;
    height: 5vh;
    color: white;
    margin-top: 2vh;
    border: none;
    border-radius: 10px;
}

.error-message{
    text-align: center;
    color: #FF0000;
}

.upload-file{
    margin: 0;
    padding: 2rem 1.5rem;
    font: 1rem/1.5 "PT Sans", Arial, sans-serif;
    color: #5a5a5a;
}

.upload-file, .upload-file::after, .upload-file::before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.submitupload{
    width: 75vw;
    margin-left: 12.5vw;
    margin-top: 0;
}

.grootte{
    color: red;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 25vh;
}

.levelgegevens{
    margin: 0 auto;
    margin-top: 5vh;
}

.levelgegevens > input{
    margin-left: 8px;
    margin-bottom: 15px;
}

.levelgegevens > input, .levelgegevens > input::after, .levelgegevens > input::before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.submitformie{
    background-color: #FF0000;
    width: 96vw;
    margin-left: 5vw;
    height: 5vh;
    color: white;
    margin-top: 2vh;
    border: none;
    border-radius: 10px;
    margin-bottom: 10vh!important;
}